<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qualifications Entry - Major Recommendation System</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
	<link rel="stylesheet" href="../style/style-input.css">
</head>
<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">  <a class="navbar-brand" href="#">
    <img src="../img/logo.png" class="d-inline-block align-top" alt="">
  </a>
</nav>

<div class="container mt-5">
    <div class="card shadow rounded">
        <div class="card-body text-center">
            <h2 class="card-title mb-4">Enter Your Qualifications</h2>
            <p class="message">Before exploring your majors, please enter your overall GPA percentage.</p>
            <div class="form-group mb-4">
				<input type="number" id="overallGrade" class="form-control" placeholder="Enter your overall GPA" min="65" max="100">
			</div>
			<div id="errorMessage" class="text-danger"></div>
            <button id="nextButton" class="btn btn-primary">Next</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="../Controllers/qualificationsEntryController.js"></script>
<script src="../Models/QualificationsModel.js"></script>

<script>
$(document).ready(function() {
    // Add event listener to the input field
    $('#overallGrade').on('input', function() {
        // Get the entered value
        var grade = parseInt($(this).val());

        // Check if the value is within the range
        if (grade < 65 || grade > 100 || isNaN(grade)) {
            // Display error message
            $('.error-message').remove(); // Remove existing error message
            $(this).after('<div class="error-message text-danger" style="font-weight:bold;"> </br>Enter a value between 65 and 100.</div>');
            $('#nextButton').prop('disabled', true); // Disable the Next button
        } else {
            // Remove error message
            $('.error-message').remove();
            $('#nextButton').prop('disabled', false); // Enable the Next button
        }
    });
});

</script>
</body>
</html>
